
<section class="advantages">
  <div class="container">
    <div class="row">
      <h2>Преимущества TrueGadget concept Store</h2>
      <div class="col">
        <div class="item">
          <div class="sprite-wrap">
            <div class="sprite-advantages sprite-gift"></div>
          </div>
          <h3>Бонусы</h3>
          <p>Всегда радуем своих клиентов приятными подарками и бонусами</p>
        </div>
      </div>
      <div class="col">
        <div class="item">
          <div class="sprite-wrap">
            <div class="sprite-advantages sprite-truck"></div>
          </div>
          <h3>Доставка</h3>
          <p>Быстрая доставка по всей территории Украины</p>
        </div>
      </div>
      <div class="col">
        <div class="item">
          <div class="sprite-wrap">
            <div class="sprite-advantages sprite-credit-card"></div>
          </div>
          <h3>Оплата</h3>
          <p>Выбор удобного способа оплаты для каждого клиента</p>
        </div>
      </div>
      <div class="col">
        <div class="item">
          <div class="sprite-wrap">
            <div class="sprite-advantages sprite-24-hours"></div>
          </div>
          <h3>7 дней</h3>
          <p>Прием заказов через сайт круглосуточно и без выходных</p>
        </div>
      </div>
      <div class="col">
        <div class="item">
          <div class="sprite-wrap">
            <div class="sprite-advantages sprite-like"></div>
          </div>
          <h3>Консультация</h3>
          <p>Профессиональная консультация и индивидуальный подход к каждому клиенту</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="advantages mobile">
  <div class="container">
    <div class="row">
      <h2>Преимущества TrueGadget concept Store</h2>
      <div class="advantages-slider">
        <div class="item">
          <div class="sprite-wrap">
            <div class="sprite-advantages sprite-gift"></div>
          </div>
          <h3>Бонусы</h3>
          <p>Всегда радуем своих клиентов приятными подарками и бонусами</p>
        </div>
        <div class="item">
          <div class="sprite-wrap">
            <div class="sprite-advantages sprite-truck"></div>
          </div>
          <h3>Доставка</h3>
          <p>Быстрая доставка по всей территории Украины</p>
        </div>
        <div class="item">
          <div class="sprite-wrap">
            <div class="sprite-advantages sprite-credit-card"></div>
          </div>
          <h3>Оплата</h3>
          <p>Выбор удобного способа оплаты для каждого клиента</p>
        </div>
        <div class="item">
          <div class="sprite-wrap">
            <div class="sprite-advantages sprite-24-hours"></div>
          </div>
          <h3>7 дней</h3>
          <p>Прием заказов через сайт круглосуточно и без выходных</p>
        </div>
        <div class="item">
          <div class="sprite-wrap">
            <div class="sprite-advantages sprite-like"></div>
          </div>
          <h3>Консультация</h3>
          <p>Профессиональная консультация и индивидуальный подход к каждому клиенту</p>
        </div>
      </div>
    </div>
  </div>
</section>