
<div class="product-card card-block">
  <div class="tags"></div>
  <div class="card-img"><a href="#"><img src="/images/product.png"/></a></div>
  <div class="card-body">
    <div class="reviews-block">
      <input class="rating" type="hidden" data-fractions="2" value="3.5"/><a class="reviews" href="#">17 отзывов</a>
    </div><a href="#">
      <h4 class="product-name">Yoobao YBL-201 Red Bluetooth Speaker</h4></a><span class="availability"><i class="fa fa-check"></i> В наличии</span>
  </div>
  <div class="card-footer">
    <div class="price"><span><strong>776</strong> грн.</span></div><a class="btn" href="#">Купить</a><a class="quick-buy" href="#">Купить в один клик</a>
    <ul class="icon-group">
      <li class="item-list"><a><i class="fa fa-balance-scale"></i></a></li>
      <li class="item-list"><a><i class="fa fa-balance-scale"></i></a></li>
      <li class="item-list"><a><i class="fa fa-balance-scale"></i></a></li>
    </ul>
  </div>
</div>
<div class="product-card card-block">
  <div class="tags"></div>
  <div class="card-img"><a href="#"><img src="/images/product.png"/></a></div>
  <div class="card-body">
    <div class="reviews-block">
      <input class="rating" type="hidden" data-fractions="2" value="3.5"/><a class="reviews" href="#">17 отзывов</a>
    </div><a href="#">
      <h4 class="product-name">Yoobao YBL-201 Red Bluetooth Speaker</h4></a><span class="availability"><i class="fa fa-check"></i> В наличии</span>
  </div>
  <div class="card-footer">
    <div class="price"><span><strong>776</strong> грн.</span></div><a class="btn" href="#">Купить</a><a class="quick-buy" href="#">Купить в один клик</a>
    <ul class="icon-group">
      <li class="item-list"><a><i class="fa fa-balance-scale"></i></a></li>
      <li class="item-list"><a><i class="fa fa-balance-scale"></i></a></li>
      <li class="item-list"><a><i class="fa fa-balance-scale"></i></a></li>
    </ul>
  </div>
</div>
<div class="product-card card-block">
  <div class="tags"></div>
  <div class="card-img"><a href="#"><img src="/images/product.png"/></a></div>
  <div class="card-body">
    <div class="reviews-block">
      <input class="rating" type="hidden" data-fractions="2" value="3.5"/><a class="reviews" href="#">17 отзывов</a>
    </div><a href="#">
      <h4 class="product-name">Yoobao YBL-201 Red Bluetooth Speaker</h4></a><span class="availability"><i class="fa fa-check"></i> В наличии</span>
  </div>
  <div class="card-footer">
    <div class="price"><span><strong>776</strong> грн.</span></div><a class="btn" href="#">Купить</a><a class="quick-buy" href="#">Купить в один клик</a>
    <ul class="icon-group">
      <li class="item-list"><a><i class="fa fa-balance-scale"></i></a></li>
      <li class="item-list"><a><i class="fa fa-balance-scale"></i></a></li>
      <li class="item-list"><a><i class="fa fa-balance-scale"></i></a></li>
    </ul>
  </div>
</div>
<div class="product-card card-block">
  <div class="tags"></div>
  <div class="card-img"><a href="#"><img src="/images/product.png"/></a></div>
  <div class="card-body">
    <div class="reviews-block">
      <input class="rating" type="hidden" data-fractions="2" value="3.5"/><a class="reviews" href="#">17 отзывов</a>
    </div><a href="#">
      <h4 class="product-name">Yoobao YBL-201 Red Bluetooth Speaker</h4></a><span class="availability"><i class="fa fa-check"></i> В наличии</span>
  </div>
  <div class="card-footer">
    <div class="price"><span class="old">836 грн.</span><span><strong>669</strong> грн.</span></div><a class="btn" href="#">Купить</a><a class="quick-buy" href="#">Купить в один клик</a>
    <ul class="icon-group">
      <li class="item-list"><a><i class="fa fa-balance-scale"></i></a></li>
      <li class="item-list"><a><i class="fa fa-balance-scale"></i></a></li>
      <li class="item-list"><a><i class="fa fa-balance-scale"></i></a></li>
    </ul>
  </div>
</div>
<div class="product-card card-block">
  <div class="tags"></div>
  <div class="card-img"><a href="#"><img src="/images/product.png"/></a></div>
  <div class="card-body">
    <div class="reviews-block">
      <input class="rating" type="hidden" data-fractions="2" value="3.5"/><a class="reviews" href="#">17 отзывов</a>
    </div><a href="#">
      <h4 class="product-name">Yoobao YBL-201 Red Bluetooth Speaker</h4></a><span class="availability"><i class="fa fa-check"></i> В наличии</span>
  </div>
  <div class="card-footer">
    <div class="price"><span><strong>776</strong> грн.</span></div><a class="btn" href="#">Купить</a><a class="quick-buy" href="#">Купить в один клик</a>
    <ul class="icon-group">
      <li class="item-list"><a><i class="fa fa-balance-scale"></i></a></li>
      <li class="item-list"><a><i class="fa fa-balance-scale"></i></a></li>
      <li class="item-list"><a><i class="fa fa-balance-scale"></i></a></li>
    </ul>
  </div>
</div>
<div class="product-card card-block">
  <div class="tags"></div>
  <div class="card-img"><a href="#"><img src="/images/product.png"/></a></div>
  <div class="card-body">
    <div class="reviews-block">
      <input class="rating" type="hidden" data-fractions="2" value="3.5"/><a class="reviews" href="#">17 отзывов</a>
    </div><a href="#">
      <h4 class="product-name">Yoobao YBL-201 Red Bluetooth Speaker</h4></a><span class="availability"><i class="fa fa-check"></i> В наличии</span>
  </div>
  <div class="card-footer">
    <div class="price"><span><strong>776</strong> грн.</span></div><a class="btn" href="#">Купить</a><a class="quick-buy" href="#">Купить в один клик</a>
    <ul class="icon-group">
      <li class="item-list"><a><i class="fa fa-balance-scale"></i></a></li>
      <li class="item-list"><a><i class="fa fa-balance-scale"></i></a></li>
      <li class="item-list"><a><i class="fa fa-balance-scale"></i></a></li>
    </ul>
  </div>
</div>
<div class="product-card card-block">
  <div class="tags"></div>
  <div class="card-img"><a href="#"><img src="/images/product.png"/></a></div>
  <div class="card-body">
    <div class="reviews-block">
      <input class="rating" type="hidden" data-fractions="2" value="3.5"/><a class="reviews" href="#">17 отзывов</a>
    </div><a href="#">
      <h4 class="product-name">Yoobao YBL-201 Red Bluetooth Speaker</h4></a><span class="availability"><i class="fa fa-check"></i> В наличии</span>
  </div>
  <div class="card-footer">
    <div class="price"><span><strong>776</strong> грн.</span></div><a class="btn" href="#">Купить</a><a class="quick-buy" href="#">Купить в один клик</a>
    <ul class="icon-group">
      <li class="item-list"><a><i class="fa fa-balance-scale"></i></a></li>
      <li class="item-list"><a><i class="fa fa-balance-scale"></i></a></li>
      <li class="item-list"><a><i class="fa fa-balance-scale"></i></a></li>
    </ul>
  </div>
</div>
<div class="product-card card-block">
  <div class="tags"></div>
  <div class="card-img"><a href="#"><img src="/images/product.png"/></a></div>
  <div class="card-body">
    <div class="reviews-block">
      <input class="rating" type="hidden" data-fractions="2" value="3.5"/><a class="reviews" href="#">17 отзывов</a>
    </div><a href="#">
      <h4 class="product-name">Yoobao YBL-201 Red Bluetooth Speaker</h4></a><span class="availability"><i class="fa fa-check"></i> В наличии</span>
  </div>
  <div class="card-footer">
    <div class="price"><span class="old">836 грн.</span><span><strong>669</strong> грн.</span></div><a class="btn" href="#">Купить</a><a class="quick-buy" href="#">Купить в один клик</a>
    <ul class="icon-group">
      <li class="item-list"><a><i class="fa fa-balance-scale"></i></a></li>
      <li class="item-list"><a><i class="fa fa-balance-scale"></i></a></li>
      <li class="item-list"><a><i class="fa fa-balance-scale"></i></a></li>
    </ul>
  </div>
</div>