
<section class="sidebar filters-menu card-block">
  <div class="row">
    <div class="col">
      <h4>Подобрать</h4><span class="separator"></span>
      <form class="price-form" action="" method="">
        <h4 class="filter-name">Цена, <span class="normal">грн</span></h4>
        <div class="input-group">
          <label>от
            <input type="text" name="from-what" id="from-what"/>
          </label>
          <label>до
            <input type="text" name="to-what" id="to-what"/>
          </label>
        </div>
        <div id="slider-range"></div>
      </form><span class="separator"></span>
      <form class="discount-form" action="" method="">
        <div class="label-wrap">
          <label>Скидки <i class="badge icon-percent icon-unactive color-inverse"></i><span class="product-quantity">45</span>
            <div class="popup-quantity"><span>Всего <span>180</span> товаров</span><a class="btn" href="#">Просмотреть</a></div>
            <input class="input-checkbox" type="checkbox" name="discount"/>
            <div class="input-checkbox"></div>
          </label>
        </div>
        <div class="label-wrap">
          <label>Топ продаж <i class="badge icon-star icon-unactive color-inverse fa fa-star"></i><span class="product-quantity">45</span>
            <div class="popup-quantity"><span>Всего <span>180</span> товаров</span><a class="btn" href="#">Просмотреть</a></div>
            <input class="input-checkbox" type="checkbox" name="bestseller"/>
            <div class="input-checkbox"></div>
          </label>
        </div>
        <div class="label-wrap">
          <label>Новинки <i class="badge icon-check icon-unactive fa fa-check color-inverse"></i><span class="product-quantity">45</span>
            <div class="popup-quantity"><span>Всего <span>180</span> товаров</span><a class="btn" href="#">Просмотреть</a></div>
            <input class="input-checkbox" type="checkbox" name="novelty"/>
            <div class="input-checkbox"></div>
          </label>
        </div>
        <div class="label-wrap">
          <label>Рекомендуемые <i class="badge icon-tg color-inverse"></i><span class="product-quantity">45</span>
            <div class="popup-quantity"><span>Всего <span>180</span> товаров</span><a class="btn" href="#">Просмотреть</a></div>
            <input class="input-checkbox" type="checkbox" name="recommended"/>
            <div class="input-checkbox"></div>
          </label>
        </div>
      </form><span class="separator"></span>
      <h4 class="filter-name rollup">Бренд</h4>
      <form class="brand" action="" method="">
        <div class="label-wrap">
          <label>AUZER<span class="product-quantity">45</span>
            <div class="popup-quantity"><span>Всего <span>180</span> товаров</span><a class="btn" href="#">Просмотреть</a></div>
            <input class="input-checkbox" type="checkbox" name="auzer"/>
            <div class="input-checkbox"></div>
          </label>
        </div>
        <div class="label-wrap">
          <label>Aspiring<span class="product-quantity">45</span>
            <div class="popup-quantity"><span>Всего <span>180</span> товаров</span><a class="btn" href="#">Просмотреть</a></div>
            <input class="input-checkbox" type="checkbox" name="aspiring"/>
            <div class="input-checkbox"></div>
          </label>
        </div>
        <div class="label-wrap">
          <label>Beats<span class="product-quantity">45</span>
            <div class="popup-quantity"><span>Всего <span>180</span> товаров</span><a class="btn" href="#">Просмотреть</a></div>
            <input class="input-checkbox" type="checkbox" name="beats"/>
            <div class="input-checkbox"></div>
          </label>
        </div>
        <div class="label-wrap">
          <label>Colorway<span class="product-quantity">45</span>
            <div class="popup-quantity"><span>Всего <span>180</span> товаров</span><a class="btn" href="#">Просмотреть</a></div>
            <input class="input-checkbox" type="checkbox" name="colorway"/>
            <div class="input-checkbox"></div>
          </label>
        </div>
        <div class="label-wrap">
          <label>Divoom<span class="product-quantity">45</span>
            <div class="popup-quantity"><span>Всего <span>180</span> товаров</span><a class="btn" href="#">Просмотреть</a></div>
            <input class="input-checkbox" type="checkbox" name="divoom"/>
            <div class="input-checkbox"></div>
          </label>
        </div>
        <div class="label-wrap">
          <label>F&D<span class="product-quantity">45</span>
            <div class="popup-quantity"><span>Всего <span>180</span> товаров</span><a class="btn" href="#">Просмотреть</a></div>
            <input class="input-checkbox" type="checkbox" name="fd"/>
            <div class="input-checkbox"></div>
          </label>
        </div>
        <div class="label-wrap">
          <label>Gembird<span class="product-quantity">45</span>
            <div class="popup-quantity"><span>Всего <span>180</span> товаров</span><a class="btn" href="#">Просмотреть</a></div>
            <input class="input-checkbox" type="checkbox" name="gembird"/>
            <div class="input-checkbox"></div>
          </label>
        </div>
        <div class="label-wrap">
          <label>Harman/Kardon<span class="product-quantity">45</span>
            <div class="popup-quantity"><span>Всего <span>180</span> товаров</span><a class="btn" href="#">Просмотреть</a></div>
            <input class="input-checkbox" type="checkbox" name="harman_kardon"/>
            <div class="input-checkbox"></div>
          </label>
        </div>
      </form><span class="separator"></span>
      <h4 class="filter-name rollup">Тип</h4>
      <form class="type" action="" method="">
        <div class="label-wrap">
          <label>Портативная<span class="product-quantity">45</span>
            <div class="popup-quantity"><span>Всего <span>180</span> товаров</span><a class="btn" href="#">Просмотреть</a></div>
            <input class="input-checkbox" type="checkbox" name="portable"/>
            <div class="input-checkbox"></div>
          </label>
        </div>
        <div class="label-wrap">
          <label>2.0<span class="product-quantity">45</span>
            <div class="popup-quantity"><span>Всего <span>180</span> товаров</span><a class="btn" href="#">Просмотреть</a></div>
            <input class="input-checkbox" type="checkbox" name="two-zero"/>
            <div class="input-checkbox"></div>
          </label>
        </div>
        <div class="label-wrap">
          <label>2.1<span class="product-quantity">45</span>
            <div class="popup-quantity"><span>Всего <span>180</span> товаров</span><a class="btn" href="#">Просмотреть</a></div>
            <input class="input-checkbox" type="checkbox" name="two-one"/>
            <div class="input-checkbox"></div>
          </label>
        </div>
      </form><span class="separator"></span><a class="reset" href="#">Сбросить фильтр</a>
    </div>
  </div>
</section>