
<section class="subscribe card-block">
  <div class="container">
    <div class="row">
      <p>Подпишись на <strong>TrueGadget concept Store</strong> и первым получай еще больше эксклюзивных преимуществ:</p>
      <div class="list-group"><span class="item-list"><i class="fa fa-check"></i>Акционные предложения</span><span class="item-list"><i class="fa fa-check"></i>Промо-код на скидку</span><span class="item-list"><i class="fa fa-check"></i>Новости из мира гаджетов</span></div>
    </div>
    <form class="subscribe-form" action="" method="">
      <input class="email-input" type="text" name="email" placeholder="Введите Ваш e-mail"/>
      <input class="submit-input" type="submit" value="Хочу!"/>
    </form>
  </div>
</section>